
<div class="container">

    <div class="mb-2">
        <div>
            <button class="btn btn-outline-primary mb-2  me-2" (click)="isCollapased = !isCollapased">Filter</button>
            <button class="btn btn-outline-secondary mb-2 " (click)="ResetFilter()" [hidden]="!filtering">Reset</button>
        
        </div>
        <div [collapse] = "isCollapased" [isAnimated] = "true">
            <div class="border mb-2 shadow-sm" style="width: 250px;">

                <form >
                    <div class="row mx-0">
                        <div class="col">

                            <small><b>Languages:</b></small>

                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "java"
                                    (change)="Filter()"
                                    name="Java">
                                    <label class="form-check-label small">Java</label>
                                </div>
                            </div>

                                 
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "javascript"
                                    (change)="Filter()"
                                    name="JavaScript">
                                    <label class="form-check-label small">JavaScript</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "typescript"
                                    (change)="Filter()"
                                    name="TypeScript">
                                    <label class="form-check-label small">TypeScript</label>
                                </div>
                            </div>

                       

                            
                        </div>
                        <div class="col">
                            <small><b>Cloud/Databases</b></small>
                
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "pcf"
                                    (change)="Filter()"
                                    name="PCF">
                                    <label class="form-check-label small">PCF</label>
                                </div>
                            </div>  

        
                            
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "gcp"
                                    (change)="Filter()"
                                    name="GCP">
                                    <label class="form-check-label small">GCP</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "datastore"
                                    (change)="Filter()"
                                    name="Datastore">
                                    <label class="form-check-label small">Datastore</label>
                                </div>
                            </div> 

                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "oracle"
                                    (change)="Filter()"
                                    name="Oracle">
                                    <label class="form-check-label small">Oracle</label>
                                </div>
                            </div>  

                            
                        </div>    
                        <div class="col">
                            <small><b>Frameworks:</b></small>

                              
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "springboot"
                                    (change)="Filter()"
                                    name="SpringBoot">
                                    <label class="form-check-label small">SpringBoot</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "angular"
                                    (change)="Filter()"
                                    name="Angular">
                                    <label class="form-check-label small">Angular</label>
                                </div>
                            </div> 

                               
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "hibernate"
                                    (change)="Filter()"
                                    name="Hibernate">
                                    <label class="form-check-label small">Hibernate</label>
                                </div>
                            </div> 

                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "jsf"
                                    (change)="Filter()"
                                    name="JSF">
                                    <label class="form-check-label small">JSF</label>
                                </div>
                            </div> 
                            
                            
                            
 
                        </div>      

                        <div class="col">
                            <small><b>Others:</b></small>
                            
                          
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "kafka"
                                    (change)="Filter()"
                                    name="Kafka">
                                    <label class="form-check-label small">Kafka</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "maven"
                                    (change)="Filter()"
                                    name="Maven">
                                    <label class="form-check-label small">Maven</label>
                                </div>
                            </div> 
                            
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "jboss"
                                    (change)="Filter()"
                                    name="Jboss">
                                    <label class="form-check-label small">Jboss</label>
                                </div>
                            </div> 

                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "tomcat"
                                    (change)="Filter()"
                                    name="Tomcat">
                                    <label class="form-check-label small">Tomcat</label>
                                </div>
                            </div> 

                            
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "weblogic"
                                    (change)="Filter()"
                                    name="Weblogic">
                                    <label class="form-check-label small">Weblogic</label>
                                </div>
                            </div> 

                            
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)] = "glassfish"
                                    (change)="Filter()"
                                    name="GlassFish">
                                    <label class="form-check-label small">GlassFish</label>
                                </div>
                            </div> 
                        
                        </div> 

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let project of projects" class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-card [project]="project"></app-project-card>
        </div>
    </div>
</div>

