<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow" >
            <accordion-group [(isOpen)]="isWorkExperienceOpen" >
    <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
        <div style="visibility: hidden;">></div>
        <div class="btn-link">Work Experience</div>
        <div style="width: 10.95px;">  
            <div  *ngIf="!isWorkExperienceOpen" style="color: white;">></div>
            <div  *ngIf="isWorkExperienceOpen" style="color: white;">v</div>
        </div>
    </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Senior Software Engineer</h2>
                    <h3 class="text-primary"> - &#64; CloudCIX, (Client: MasterCard) IE Sep 2022 - today</h3>
                    <ul>
                        <li>Data distribution microservice in Spring Boot</li>
                        <li>Distribution app that sync databases between multiple regions(USA,SA,INDIA)</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Senior Technical Lead</h2>
                    <h3 class="text-primary">- &#64; HCL, (Client: Google) IE March 2021 - Aug 2022</h3>
                    <ul>
                        <li>Office Seating application in Google cloud platform</li>
                        <li>Office seating application that manages office space</li>
                    </ul>
                </div>
                <hr>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isEducationOpen">
    
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Education</div>
                    <div style="width: 10.95px;">  
                        <div  *ngIf="!isEducationOpen" style="color: white;">></div>
                        <div  *ngIf="isEducationOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">B.TECH in Computer Science</h2>
                    <h3 class="text-primary">V.R.Siddhartha Engineering College</h3>
                    <ul>
                        <li>Final grade: 74.6</li>
                        <li>Website https://www.vrsiddhartha.ac.in/</li>
                    </ul>
                </div>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isCertificationOpen">

                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Certifications</div>
                    <div style="width: 10.95px;">  
                        <div  *ngIf="!isCertificationOpen" style="color: white;">></div>
                        <div  *ngIf="isCertificationOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">GCP certification</h2>
                    <ul>
                        <li>some text....</li>
                        <li>some text....</li>
                    </ul>
                    <h3>Google IT cerificate</h3>
                    <ul>
                        <li>obtained in 2018</li>
                        <li></li>
                    </ul>
                </div>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isSkillsOpen">
    
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Skills</div>
                    <div style="width: 10.95px;">  
                        <div  *ngIf="!isSkillsOpen" style="color: white;">></div>
                        <div  *ngIf="isSkillsOpen" style="color: white;">v</div>
                    </div>
                </button>
    
                <div class="row" style="text-align:left ;">
                    <div class="col">
                        <h3>Programming Languages:</h3>
                        <ul>
                            <li>C#</li>
                            <li>Java</li>
                            <li>Python</li>
                            <li>JavaScript</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Frameworks:</h3>
                        <ul>
                            <li>Angular</li>
                            <li>React</li>
                            <li>Spring</li>
                        </ul>
                    </div>
    
                    <div class="col">
                        <h3>Other Skills:</h3>
                        <ul>
                            <li>Agile development</li>
                            <li>MVC</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
  
</div> 