<div class="container">
    <div class="row">
        <!--About Me-->
        <div class="col-lg shadow border m-1">

            <div class="text-center">
                <h2>About Me</h2>
                <img src="satheesh.jpeg" alt="profile pic" width="256" height="256" class="rounded-circle">
                <p>Hi, this is satheesh . my tech stack includes................
                    Hi, this is satheesh . my tech stack includes................
                    Hi, this is satheesh . my tech stack includes................ 
                </p>
            </div>
        </div>
        <!--Feature Project-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Feauture</h2>
            </div>
        </div>
    </div>
</div >