<div class="container">
    <div class="row">
        <!--About Me-->
        <div class="col-lg shadow border m-1">

            <div class="text-center">
                <h2>About Me</h2>
                <img src="satheesh.jpeg" alt="profile pic" width="256" height="256" class="rounded-circle">
                <p>Hi, this is satheesh .
                    Experienced java developer with 12+ years of experience participating in all aspects of the software development lifecycle,
                    which includes estimating, technical design, implementaion, documentation, testing, deployment and suppport
                    of applications developed for various clients.
                </p>
            </div>
        </div>
        <!--Feature Project-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Feautured Project</h2>
                <h4>{{feautredProject.name}} </h4>
            </div>
            
         <!--<carousel>
                <div *ngFor="let picture of feautredProject.pictures">
                    <slide><img src="{{picture}}" alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>-->
            <p class="mt-2">{{feautredProject.summary}}</p>
            <p>Visit portfolio section to learn more!</p>
        </div>
    </div>
</div >